<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="CarreraCrear">
        <h1>Registrar Carrera</h1>
        <form method="get">

            <div class="idCarrera">
                <input type="text" required>
                <label>ID de la Carrera</label>
            </div>

            <div class="idFacultad">
                <input type="password" required>
                <label>ID de la Facultad</label>
            </div>

            <div class="nombre">
                <input type="text" required>
                <label>Nombre</label>
            </div> 

            <div class="radio">
                <fieldset>
                    <label>Estado</label><br>
                    <input type="radio" name="Estado" value="activo">
                    <label for="activo">Activo</label>

                    <input type="radio" name="Estado" value="inactivo">
                    <label for="inactivo">Inactivo</label>
                
                </fieldset>
            </div>
          
            <input type="submit" value="Registrar">
        </form>

        <script></script>


    </div>
</body>
</html>