<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="CarreraConsultar">
        <h1>Consultar Carrera</h1>
        <form method="get">

            <div class="idCarrera">
                <input type="text" required>
                <label>ID de la Carrera</label>
            </div>
          
            <input type="submit" value="Consultar">
        </form>

        <script></script>


    </div>
</body>
</html>