<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="FacultadConsultar">
        <h1>Consultar Facultad</h1>
        <form method="get">

            <div class="idFacultad">
                <input type="password" required>
                <label>ID de la Facultad</label>
            </div>
          
            <input type="submit" value="Consultar">
        </form>

        <script></script>


    </div>
</body>
</html>