<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="VotacionCrear">
        <h1>Crear Votacion</h1>
        <form method="get">
            <div>
            <label>Fecha Votacion</label>
            <input type="date" value="" min="2023">
            </div>

            <div class="numeroIdentificacion">
                <input type="password" required>
                <label>Número Identificacion</label>
            </div>

            <div class="numeroCandidato">
                <input type="text" required>
                <label>Numero del Candidato</label>
            </div>

          
            <input type="submit" value="Crear">
        </form>

        <script></script>


    </div>
</body>
</html>