<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="ProcesoActualizar">
        <h1>Actualizar Proceso Electoral</h1>
        <form method="get">

            <div class="idProceso">
                <input type="text" required>
                <label>ID del proceso electoral</label>
            </div>

            <div class="descripcion">
                <input type="text" required>
                <label>Descripcion</label>
            </div>
            
            <div>
            <label>Fecha Eleccion</label>
            <input type="datetime-local" value="" min="2023">
            </div>

            <div>
            <label>Fecha Finalizacion</label>
            <input type="datetime-local" value="" min="2023">
            </div>

          
            <input type="submit" value="Actualizar">
        </form>

        <script></script>


    </div>
</body>
</html>