<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="UsuarioInactivar">
        <h1>Inactivar Usuario</h1>
        <form method="get">

            <input type="submit" value="Estado">

            <div class="radio">
                <fieldset>
                    <label>Estado</label><br>
                    <input type="radio" name="Estado" value="activo">
                    <label for="activo">Activo</label>

                    <input type="radio" name="Estado" value="inactivo">
                    <label for="inactivo">Inactivo</label>
                
                </fieldset>
            </div>

          
            <input type="submit" value="Aceptar">
        </form>

        <script></script>


    </div>
</body>
</html>