<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="UsuarioActualizar">
        <h1>Actualizar Usuario</h1>
        <form method="get">

            <div class="numeroIdentificacion">
                <input type="password" required>
                <label>Número Identificacion</label>
            </div>

            <div class="nombre">
                <input type="text" required>
                <label>Nombre</label>
            </div>

            <div class="apellido">
                <input type="text" required>
                <label>Apellido</label>
            </div>

            <div class="correo">
                <input type="text" required>
                <label>Correo electronico</label>
            </div>

            <div class="numeroTelefonico">
                <input type="text" required>
                <label>Numero de Telefono</label>
            </div>

            <div class="radio">
                <fieldset>
                    <label>Sexo</label><br>
                    <input type="radio" name="Sexo" value="femenino">
                    <label for="femenino">Femenino</label>

                    <input type="radio" name="Sexo" value="masculino">
                    <label for="masculino">Masculino</label>
                </fieldset>
            </div>

            <div class="idCarrera">
                <input type="text" required>
                <label>id de la Carrera</label>
            </div>

            <div class="idMunicipio">
                <input type="text" required>
                <label>id del Municipio</label>
            </div>
          
            <input type="submit" value="Actualizar">
        </form>

        <script></script>


    </div>
</body>
</html>